.borders{
    border: 1px solid rgb(231, 226, 226);
}

.row-border-bottom{
    border-bottom: 1px solid rgb(231, 226, 226);
}

.row{
    overflow: hidden; 
    margin-left: 0px;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.inventoryHeader{
    height:25px;
    overflow:hidden;
    background-color: rgb(197, 197, 216);
}

.inventoryContent{
    position:absolute;
    top: 25px;
    left:16px;
    right:0px;
    bottom:0px;
    overflow-y:scroll; 
    overflow-x:hidden; 
    height: 218px;
}